.altura-msj-cons{
    margin: 19rem 0 0 0;
}

.altura-login{
    margin: 11rem 0 0 0;
    padding-bottom: 190px;
}

.title{
    font-size: 4rem;
}

@media (min-width: 768px) and (max-width: 1500px) {
    #copyright {
        padding: 0 30% 0 30%;
    }
}

.color_sitio{
    background-color: #1f2a44;
    color: #F18B31;
}

.color_sitio2{
    background-color: #F18B31;
    color: #1f2a44;
}

.color_secundario{
   
}



